$grey: #444;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: $grey;
  background: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  height: 100vh;
}
