@import "base/base";

.tab-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100% - 6.5rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tab__content.tab__content--hidden {
    display: none;
}

.page-main-heading {
    text-align: center;
    padding: 2rem 0;
}

.button__item {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 0;
    border: none;
    background-color: $white;
    color: $grey;
    border: 1px solid $grey;
    cursor: pointer;

    &.button__item--active {
        transform: scaleY(1.1);
        background-color: #7661c1;
        border: none;
    }
}

.tab__content {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 4rem;
    background-color: $white;
    align-items: center;
    padding: 3rem;
    &__image {
        display: block;
        max-width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    &__title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__body {
        font-size: 1.6rem;
        text-align: justify;
        line-height: 1.7;
    }
}
